/* Global styles */
html, body {
    background-color: rgb(20, 20, 20); /* Main background color */
    color: whitesmoke;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, *::before, *::after {
    box-sizing: inherit;
}

/* Container for consistent width */
.container {
    max-width: 1200px; /* Adjust this value to suit your layout needs */
    margin: 0 auto;
    padding: 0 20px; /* Optional: To add some padding on the sides */
}

/* Header styles */
header {
    width: 100%;
}

.logoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('whiteRazorLogo.jpg') no-repeat center center;
    background-size: contain;
    width: 100%;
    height: auto;
}

#logoVideo {
    width: 200px;
    height: 100px;
}

/* Navigation styles */
nav {
    background-color: #333;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    color: whitesmoke;
    display: block;
    padding: 15px 20px;
}

nav ul li a:hover {
    background-color: #555;
    text-decoration: underline;
}

.nav-toggle {
    display: none;
}

/* Main content styles */
main {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1, p {
    color: whitesmoke;
}

/* Reel section styles */
#reel {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#reelHeader {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    text-align: center;
    background-color: #33333379;
}

#reelVideo {
    display: inline-block;
    text-align: center;
    background-color: #33333379;
}

/* Footer styles */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #2a2a2a; /* Slightly off-black color for the footer */
    flex-wrap: wrap;
    box-sizing: border-box; /* Ensure padding is included in width calculations */
}

#footerText, #share {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#footerText {
    text-align: left;
    padding-right: 20px;
}

#share {
    text-align: right;
    justify-content: flex-end; /* Align icons to the right within the share div */
}

#share a {
    margin-left: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .logoHeader {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
    }

    #logoVideo {
        display: block;
        margin: 0 auto;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;

    }

    nav ul li {
        flex: none;
    }

    nav ul li a {
        padding: 15px 20px;
        color: whitesmoke;
    }

    .nav-toggle {
        display: block;
        background-color: #333;
        color: whitesmoke;
        padding: 15px 20px;
        cursor: pointer;
        text-align: center;
        width: 100%;
    }

    .nav-toggle.active + ul {
        display: flex;
    }

    #reelVideo {
        display: flex;
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }

    #footerText, #share {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    #footerText {
        text-align: center; /* Center text on smaller screens */
        padding-right: 0;
    }

    #share {
        text-align: center; /* Center icons on smaller screens */
        justify-content: center;
        padding-top: 10px;
    }
}
