/* Global styles */
html, body {
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, *::before, *::after {
    box-sizing: inherit;
}

/* Link styles */
a {
    color: white;
    text-decoration: none;
}

/* Navigation styles */
nav {
    background-color: #333;
    width: 100%;
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
}

nav ul li a:hover {
    background-color: #555;
    text-decoration: underline;
}

/* Dropdown Menu Styles for Small Screens */
.nav-toggle {
    display: none;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    nav ul li {
        flex: none;
    }

    nav ul li a {
        padding: 15px 20px;
    }

    .nav-toggle {
        display: block;
        background-color: #333;
        color: white;
        padding: 15px 20px;
        cursor: pointer;
        text-align: center;
        width: 100%;
    }

    .nav-toggle.active + ul {
        display: flex;
    }
}

/* Main content styles */
main {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    width: 100%;
}

.logoHeader {
    display: flex;
    justify-content: space-between; /* Align items to the right */
    align-items: center;
    position: relative;
    background: url('whiteRazorLogo.jpg') no-repeat center center;
    background-size:contain; /* Adjust background size as needed */
    width: auto;
    height: auto;

}

#logoVideo {
    width: 200px;
    height: 100px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .logoHeader {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
    }

    #logoVideo {
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 769px) {
    .logoHeader {
        flex-direction: row;
        justify-content: space-between; /* Maintain alignment to the right */
    }

    #logoVideo {
        display: block;
        margin: 0;
    }
}

/* Specific text color adjustments */
h1, p {
    color: whitesmoke;
}

#reelVideo{

}
#logo {
    background-image: url('whiteRazorLogo.jpg');
    background-repeat: no-repeat;
    background-position: right right;
    background-size: contain; /* Adjust background size as needed */
    background-attachment: fixed;

}
